/*https://coolors.co/363537-0cce6b-dced31-ef2d56-ed7d3a*/
html {
    min-height: 100vh;
    min-width: 100%;

    background: rgb(217,131,36);
    background: linear-gradient(180deg, rgba(217,131,36,1) 30%, rgba(217,131,36,.9) 70%, rgba(217,131,36,.85) 100%);
}

body {
    margin: 0px 75px 0px 75px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px#5a0002;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

#selfie{
    height: 400px;
    width: auto;
}

#container{
    display: flex;
    margin: 10px;
    align-items: center;
}

#rightofselfie{
    margin: 0px 50px 0px 50px;
}